body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: rgb(224, 223, 223);
}

header {
    margin: auto;
}

header div {
    margin: 30px auto;
    height: 150px;
    font-size: 70px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 330;
    color: lightseagreen;
}

section {
    margin: 0 auto;
}

.add-section {
    width: 380px;
    height: 50px;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(155, 152, 152, 0.425), 0 1px 6px rgba(155, 152, 152, 0.425);
    border: none;
    background: white;
}

.add-section input {
    width: 350px;
}

.input-box {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    text-indent: 10px;
    border: none;
    font-size: 18px;
}

input:focus {
    outline-width: 0
}

a {
    color: #42b983;
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 auto;
    display: inline-block;
    background-color: white;
    width: 400px;
    min-height: 50px;
    text-indent: 30px;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(155, 152, 152, 0.425), 0 1px 6px rgba(155, 152, 152, 0.425);
    border: none;
    font-size: 20px;
}


/* .toggle {
    text-align: center;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    appearance: none;
}

.toggle {
    opacity: 0;
}

.toggle+label {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center left;
}

.toggle:checked+label {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
} */


/* 编辑 */

.edit {
    position: relative;
    margin: 0;
    margin-left: 25px;
    min-height: 15px;
    width: 340px;
    font-size: 15px;
    font-family: inherit;
    font-weight: inherit;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    word-break: break-all;
}

.view-done label {
    text-decoration: line-through;
    color: #999;
    word-wrap: break-word;
    text-align: left;
}

.view label {
    word-wrap: break-word;
    text-align-last: justify;
}


/* 显示x号 */

.view,
.view-done {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.view input,
.view-done input {
    position: absolute;
    left: 0;
}

.view a,
.view-done a {
    opacity: 0;
    position: absolute;
    right: 0;
}

.view:hover a,
.view-done:hover a {
    opacity: 1;
}


/* 结果显示 */

.todo-result-li {
    min-height: 30px;
}

.todo-result {
    position: relative;
    width: 400px;
    height: 30px;
}

.todo-result span {
    position: absolute;
    left: 0;
    top: 20%;
    font-size: 8px;
    text-indent: 15px;
}


/* 底部 */

footer {
    margin: 20px auto;
    position: relative;
    width: 400px;
    height: 50px;
}

footer a {
    position: absolute;
    right: 10px;
}

footer span {
    position: absolute;
    left: 5px;
}


/* 开关 */

.switch,
input,
select {
    vertical-align: middle;
    color: #666464;
}

.switch-box {
    width: 42px;
    height: 21px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}

.switch-box:before {
    content: '';
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.switch-box:checked {
    border-color: #7ad879;
    box-shadow: #7ad879 0 0 0 16px inset;
    background-color: #7ad879;
}

.switch-box:checked:before {
    left: 21px;
}

.switch-box.point {
    transition: background-color ease 0.4s;
}

.switch-box.point:before {
    transition: left 0.3s;
}

.switch-box.point:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #7ad879;
    transition: border-color 0.4s, background-color ease 0.4s;
}

@media screen and (max-device-width: 620px) {
    section {
        width: 96%;
        padding: 0 2%;
    }
}

@media screen and (min-width: 620px) {
    section {
        width: 600px;
        padding: 0 10px;
    }
}